/*PAGE GRID*/
.logo-slide {
  width: 40%;
  height: 900px;
}
.logo{
    height: 160px;
    background-color: #F5D76E; /*#87D37C;*/
}
.navigation {
  background-color: #302c2d;
  width: 60%;
  height: 480px;
}
.navigation-links{
  height: 160px;
  position: relative; /* to align the links in the center of the block! See navigation-links-table*/
}
.left-side1{
  height: 640px;
  width: 320px;
  border: 2px dashed black;
  float: right;
}
.preview-under-nav-links{
  border: 2px dashed white;
  height: 320px;
  width: 640px;
}
.right-side1{
  height: 320px;
  width: 320px;
  border: 2px dashed black;
  background-color: #f0f0f0; /*delete this - only for demonstrational purposes */
}
.right-side2{
  height: 640px;
  width: 320px;
  border: 2px dashed black;
}
.left-side2{
  height: 320px;
  width: 57%;
  border: 2px dashed black;
  margin-top:-320px;
}
.left-side2-content{
  float: right;
  height: 320px;
  width: 640px;
  border: 2px dashed black;
  background-color: #f0f0f0;
}
.left-side3{
  height: 640px;
  width: 40%;
  border: 2px dashed black;
}
.left-side3-content{
  height: 640px;
  width: 320px;
  border: 2px dashed black;
  float: right;
}
.left-side4{
  height: 960px;
  width: 640px;
  border: 2px dashed black;
  background-color: #F5D76E; /*#87D37C;*/
}

/*PAGE CONTENT STYLE*/
.body{
  background-color: #f0f0f0;

}
.navigation-links-table {
  position: absolute;
  top: 50%;
  left: 33%;
  transform: translate(-50%, -50%);
  width: 50%;
}
a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}
p{
  color: white;
}
.logo > img{
  max-width: 100%;
  max-height: 100%;
  float: right;
}
.logo-slide > h4{
  float:right;
}


#container {
 min-width: 960px;
 position: relative;
 margin: 0 auto;
 overflow: hidden;
 min-height: 100%;
 background: #f0f0f0;
}
.navigation-bar {
 margin: 0 auto;
 max-width: 960px;
 padding: 0 0px 0;
}
.link-side {
 height: 160px;
 background: #323232;
 width: 150%;
 left: 0;
 top: 0;
 margin-left: -160px;
 z-index: 3;
 overflow: hidden;
 position: absolute;
}
.links {
/*	height: 160px;
	text-align: center;

	
	color: #FFFFFF;
	z-index:5;
	border: double;*/
 margin-left: 700px;
  display: inline-block;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 20px;
  padding: 23px 3px 0;
}
